{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3ef1b1eefa.js" crossorigin="anonymous"></script>
    <title>devCreate</title>
    <link rel="stylesheet" href="{% static 'bookingApp/devCreate.css' %}">
</head>

<body>
    <header class="header">
        <div class="edit-option" onclick="addChoice()">Add Choice</div>
        <div class="edit-option" onclick="addStep()">Add Step</div>
        <div class="edit-option" onclick="removeStep()"> Remove Step</div>
        <div class="edit-option" onclick="addCalendar()">Add Calendar</div>
        <div class="edit-option" onclick="addInfo()">Add Information</div>
    </header>
    <div class="main-content">
        <div class="content"></div>

        <div class="divider"></div>

        <div class="choices-container"></div>
        
        <div class="calendar">
            <div class="headerCal">
                <button id="prevBtn">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <div  class="monthYear" id="monthYear"></div>
                <button id="nextBtn">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
            <div class="days">
                <div class="day">Mon</div>
                <div class="day">Tue</div>
                <div class="day">Wed</div>
                <div class="day">Thu</div>
                <div class="day">Fri</div>
                <div class="day">Sat</div>
                <div class="day">Sun</div>
            </div>
            <div class="dates" id="dates"></div>
        </div>

        <button id="confirmButton" class="confirm-button" onclick="confirmSelection()">Confirm Selection</button>
    </div>

    <div id="modalInfo" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalInfo')"></span>
            <h3>Enter your text</h3>
            <input type="text" id="userInput" placeholder="Type here..." />
        <button onclick="submitInput()">Submit</button>
      </div>
    </div>

    <div id="alertChoice" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Warning</h2>
            </div>
          <h3>Unable to add choices with calendar present</h3>
          <br><br>
          <button class="modal-button" onclick="closeModal('alertChoice')">Confirm</button>
        </div>
      </div>
    
    <script src="{% static 'bookingApp/devCreate.js' %}"></script>
</body>

</html>
